* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    font-size: 25px;
    background-color: dimgray;

}

.nombre {
    font-weight: bold;
}

.logo {
    transition: all 0.5s;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-item {
    transition: all 0.5;
    padding: 15px;
}

.nav-item:hover {
    color: aliceblue;
    transform: scale(1.1);
}

.nav-link {
    font-size: 30px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.tituloH {
    color: aliceblue;
    font-size: 8vw;
}

.boton {
    padding: 25px;
    margin: 15px;
    border-radius: 15px;
    background: radial-gradient(#E6DADA, #274046);
    transition: all 0.3s;
}

.boton:hover {
    transform: scale(1.1);
    color: blanchedalmond;
    background: #232526;
}

#catalogo {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin: 10px;
    padding: 15px;
}

/* formulario */
.registro-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 90vh;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px black;
    border-radius: 16px;
    overflow-x: hidden;
}

.fondo {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/formulario.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.registro-form h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.control {
    width: 100%;
    margin-bottom: 14px;
    padding: 14px;
    background-color: #24303c;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: whitesmoke;
}

.modalC {
    margin-bottom: 16px;
    color: wheat;
}

.modalC:hover {
    color: #1f53c5;
}

.terminos {
    color: black;
}

.registro-form .botonF {
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    transition: all 0.5s;
}

.registro-form .botonF:hover {
    transform: scale(0.9);
    box-shadow: 7px 13px 37px black;
}

.registro-form a {
    color: white;
    text-align: center;
}

/* javaScript */
/* autos */
#contenedorAuto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.titulo {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.precio {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#totalCompra {
    text-align: center;
}

.caja {
    border: 1px solid black;
    background: linear-gradient(#232526, #414345);
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: tomato;
}

.imagenA {
    width: 100%;
}

.deJs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.botonC {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}

.botonC:hover {
    transform: scale(1.1);
}

#contenedorCarrito {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.modal-body {
    color: white;
}

/* Vaciar compra */
#carritoVacio {
    margin: 15px;
    font-size: 20px;
    border: 1px solid black;
}

#totalCompra {
    margin-top: 2px;
    font-size: 20px;
    border: 1px solid black;
}

#dolar {
    margin-top: 2px;
    font-size: 20px;
    border: 1px solid black;
}

/* Boton finalizar compra */
.botonFinalizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#finalizar {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: aqua;
    width: 90%;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 15px;
    transition: all 0.5s;
}

#finalizar:hover {
    transform: scale(1.1);
}